// galeria de servicio 

.galery{
    text-align: center;
    background-color: #57eb577c;
    padding: 10px;
    
    &__h2{
    @include pat;
    padding: 10px;
    }
}

.card{
    color: #0a7ee4;
    background-image: none;
    background: none;
    image-orientation: center;
    
    &-text{
        color: #2a0267a0;
    }
}